<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Mrine Coffe | トップページ</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-left">
                <img class="header-logo" src="/images/mylogo.png" alt="Marine Coffe">
            </div>
            <div class="header-right">
                <a href="index.html">トップ</a>
                <a href="menu.html">メニュー</a>
                <a href="acces.html">アクセス</a>
                <a href="contact.hmtl" >お問い合わせ</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main-visual">
        <div class="container">
            <h1 class="top-title">渡部写真館</h1>
            <h2 class "top-subtitle">Web上にある美術的なフォトギャラリー
            </h2>
            <p class="top-text">
                渡部が写真を自慢するだけのサイトです．
                <br>
                Nikon DF および SONY a6400で撮った写真を楽しめます．
                <br>
                是非一度お立ち寄りください．
            </p>
        </div>

    </div>
    <div class="main">
        <div class="container">
            <h2>今月のおすすめ</h2>
            <img class="main-image"src="/images/yakei.jpg" href="google.com" alt="hoge">
            <h3>夜景</h3>
            <p>
                今月のおすすめは夜景
                <br>
                ドバイのブルジュハリファからの絶景をお楽しみください．

            </p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-left">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
            <div class="footer-right">
                &COPY; 2019 Toshiya Watanabe.
            </div>
        </div>
    </div>
</body>
</html>